figure {
	margin: 0;
	padding: 0;
	width: 140px;
	height: 140px;
	margin-right: 10px;
	display: inline-block;
	/*display: block;*/
}

.container {
	width: 445px;
	height: 140px;
}

.image-side-by-side {
	float: left;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 50px;
	display: inline-block;
	line-height: 34px;
}